doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content)
        meta(name='author', content)

        title About

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // About Section
            section
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-5
                                h2.display-5.fw-bolder
                                    span.text-gradient.d-inline About Me
                                p.lead.fw-light.m-4 Hey! I'm Michael, MDL for short.
                                p.text-muted.text-start 
                                    | My passion for analytics has mostly stemmed from reading 
                                    a(href="https://fivethirtyeight.com/features/best-charts-2022/", style="color:inherit") 538 articles 
                                    | during my time in university. 
                                    | I've always admired the way they do a majority of their storytelling through responsive visualizations instead of treating them as afterthoughts between boring walls of text. 
                                    | While I’m nowhere near their level of technical artistry, I hope to be one day soon.
                                p.text-muted.text-start 
                                    | In the meantime, I intend to use this space to post any fun side projects I'm working on. Serious projects have a time and place, but this is not one of them.
                                    | While my definition of fun is subjective, it will most likely be a collection of strange datasets I've scraped or a portfolio of dashboards that I think are interesting.
                                .d-flex.justify-content-center.fs-2.gap-4
                                    // a.text-gradient(href="https://twitter.com/aspiringadult")
                                        i.bi.bi-twitter
                                    a.text-gradient(href="https://github.com/MDeanLindsay") 
                                        i.bi.bi-github
                                    a.text-gradient(href="https://www.kaggle.com/michaellindsay") 
                                        h1 k
        

        // Footer
        // include includes/footer.pug

        include includes/scripts.pug