doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Cinemorgue

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-4
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Cinemorgue
                    .row.gx-5.justify-content-center
                        .col-lg-11.col-xl-9.col-xxl-8
                            .text-start
                                p 
                                    | As you will read below, this project came to be because I was annoyed that I couldn't find any reliable sources to a fairly innocuous question: Who has died the most in film?
                                p
                                    | Links: 
                                    a(href="https://github.com/MDeanLindsay/Cinemorgue", style="color:inherit") Github Notebook
                                    | ,
                                    a(href="https://www.kaggle.com/datasets/michaellindsay/cinemorgue", style="color:inherit") Kaggle Dataset
                                    | .
                        <iframe title="Cinemorgue" width="800" height="486" src="https://app.powerbi.com/view?r=eyJrIjoiM2JhNjMyNmEtNjU2ZS00NjE4LWIyNmItMzg4ZDU0N2RiOTA5IiwidCI6ImNiMWM4Y2EwLWRkMjUtNDNjOC1iMzhiLTViYTYxODFhMzhhOCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
        // Footer
        //include includes/footer.pug

        include includes/scripts.pug
