doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title MDL

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.py-5
                .container.px-5.pb-5
                    .row.gx-5.align-items-center
                        .col-xxl-5
                            // Header text content
                            .text-center.text-xxl-start
                                .badge.bg-gradient-primary-to-secondary.text-white.mb-4
                                    .text-uppercase Data Viz &middot; Data Science &middot; Web Dev &middot; Bad Illustrator
                                .fs-3.fw-light.text-muted Making data viz look good,
                                h2.display-10.fw-bolder.mb-5
                                    span.text-gradient.d-inline hopefully finding insight too.
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3
                                    a.btn.btn-primary.btn-lg.px-5.py-3.me-sm-3.fs-6.fw-bolder(href='contact.html') Contact
                                    a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='projects.html') Projects
                        .col-xxl-7
                            // Header profile picture
                            .d-flex.justify-content-center.mt-5.mt-xxl-0
                                .profile.bg-gradient-primary-to-secondary
                                    // TIP: For best results, use a photo with a transparent background like the demo example below
                                    // Watch a tutorial on how to do this on YouTube (link)
                                    img.profile-img(src='assets/pfp-sm.png', alt='...' style='max-width: 85%; height: auto;')
                                    .dots-1
                                        include includes/svg-dots.pug
                                    .dots-2
                                        include includes/svg-dots.pug
                                    .dots-3
                                        include includes/svg-dots.pug
                                    .dots-4
                                        include includes/svg-dots.pug

            // About Section
            section.bg-light.py-5
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-5
                                h2.display-5.fw-bolder
                                    span.text-gradient.d-inline About Me
                                p.lead.fw-light.m-4 Hey! I'm Michael, MDL for short.
                                p.text-muted.text-start 
                                    | My passion for analytics has mostly stemmed from reading 
                                    a(href="https://fivethirtyeight.com/features/best-charts-2022/", style="color:inherit") 538 articles 
                                    | during my time in university. 
                                    | I've always admired the way they do a majority of their storytelling through responsive visualizations instead of treating them as lackluster aids for boring walls of text. 
                                    | While I’m nowhere near their level of technical artistry, I hope to be one day soon.
                                    | Who knows, maybe one day I'll be able to contribute to a
                                    a(href="https://en.wikipedia.org/wiki/Snow_Fall", style="color:inherit") Snowfall article 
                                    | of my very own.
                                p.text-muted.text-start 
                                    | In the meantime, I intend to use this space as a much more relaxed place to post any fun side projects I'm working on.
                                    | While fun is definitely subjective, it will most likely be a combination of strange datasets I've scraped together or finding new ways to make dashboards interesting.
                                .d-flex.justify-content-center.fs-2.gap-4
                                    a.text-gradient(href="https://www.linkedin.com/in/michaeldeanlindsay/") 
                                        i.bi.bi-linkedin
                                    a.text-gradient(href="https://github.com/MDeanLindsay") 
                                        i.bi.bi-github
                                    a.text-gradient(href="https://www.kaggle.com/michaellindsay") 
                                        h1 k

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
