doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Projects

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8

                            // Project Card 1
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    a(href='https://shouldiuseawordcloud.com', style='text-decoration: none; color: black;')
                                        .d-flex.align-items-stretch
                                            .text-container(style='flex: 2;' class='p-5')
                                                h3.fw-bolder Should I Use A Word Cloud?
                                                div A gentle reminder for anyone that asks.
                                            .image-container(style='flex: 1;')
                                                img(src='assets/clouds.png', style='height: 100%; width: 100%; object-fit: cover;', alt='...')

                            // Project Card 2
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    a(href='/cinemorgue.html', style='text-decoration: none; color: black;')
                                        .d-flex.align-items-stretch
                                            .text-container(style='flex: 2;' class='p-5')
                                                h3.fw-bolder Cinemorgue
                                                div An answer to an atypical question: Which actor/actress is the all time leader in film deaths?
                                            .image-container(style='flex: 1;')
                                                img(src='assets/Sudden-Death.jpg', style='height: 100%; width: 100%; object-fit: cover;', alt='...')

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Let's build something together
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
